html {
 background:#222222;
}

@font-face
{
font-family: sansation;
src: url("/fonts/Sansation_Light.ttf"),
     url("/fonts/Sansation_Light.eot"); /* IE9+ */
}

@font-face
{
font-family: sansation;
font-weight: bold;
src: url("/fonts/Sansation_Bold.ttf"),
     url("/fonts/Sansation_Bold.eot"); /* IE9+ */
}

html {
 margin: 0;
 padding: 0;
 border: 0;
}

body {
 font-family: "sansation";
 font-size: 18px;
 color: #777777;
 background: #222222;
 margin: 0;
 padding 0;
 border: 0;
 vertical-align: baseline;
 line-height: 1;
}

input {
 outline: none;
 border: 0px;
}
div._loginBox {
 position: relative;
 float: left;
 width: auto;
 height: auto;
 border: none;
 display: hidden;
 margin-top: 63px;
}

a._loginBox_submit:link {
 text-decoration: none;
 color: #ffffff;
}

a._loginBox_submit:visited {
 text-decoration: none;
 color: #ffffff;
}

a._loginBox_submit:hover {
 font-size: 16px;
}

input._loginBox_username_input {
 float: right;
}

input._loginBox_password_input {
 float: right;
}

div._logoBox {
 position: relative;
 float: left;
 width: auto;
 border: none;
 font-size: 175px;
}

