html {
 background:#222222;
}

div._navMenu {
 /*background: #383838;
 height: 175px;
 max-height: 175px;
 */
 margin: 0;
 padding: 0;
 /*position: relative;*/
 width: 100%;
}

table._navMenu_table {
 max-width: 350px;
 min-width: 350px;
 font-size: 30px;
 padding: 135px 0px 0px 0px;
 float: left;
 display: none;
}

td {
 text-align: center;
 min-width: 100px;
 max-width: 100px;
}

a._navMenu_search:link {
 text-decoration: none;
 color: #ffffff;
}

a._navMenu_search:visited {
 text-decoration: none;
 color: #ffffff;
}

a._navMenu_search:hover {
 font-size: 28px;
}

a._navMenu_tools:link {
 text-decoration: none;
 color: #ffffff;
}

a._navMenu_tools:visited {
 text-decoration: none;
 color: #ffffff;
}

a._navMenu_tools:hover {
 font-size: 28px;
}


a._navMenu_logout:link {
 text-decoration: none;
 color: #ffffff;
}

a._navMenu_logout:visited {
 text-decoration: none;
 color: #ffffff;
}

a._navMenu_logout:hover {
 font-size: 28px;
}

a._navMenu_admin:link {
 text-decoration: none;
 color: #CC0000;
}

a._navMenu_admin:visited {
 text-decoration: none;
 color: #CC0000;
}

a._navMenu_admin:hover {
 font-size: 28px;
}

/*
div._logoBox {
 position: relative;
 float: left;
 width: auto;
 height: auto;
 border: none;
 height: 175px;
 max-height: 175px;
 font-size: 175px;
}
*/

div._logoBox {
 position: relative;
 float: left;
 width: auto;
 border: none;
 font-size: 175px;
}


/*
div._navTabs {
 
}
*/
