@font-face {
font-family: sansation;
src: url("/fonts/Sansation_Light.ttf"),
     url("/fonts/Sansation_Light.eot"); /* IE9+ */
}

@font-face
{
font-family: sansation;
font-weight: bold;
src: url("/fonts/Sansation_Bold.ttf"),
     url("/fonts/Sansation_Bold.eot"); /* IE9+ */
}

body {
 font-family: "sansation";
 font-size: 16px;
 color:#777777;
 background:#222222;
 margin: 0;
 padding 0;
 border: 0;
 vertical-align: baseline;
 line-height: 1;
}

input._queryInput {
 font-family: "sansation";
 /*font-family: "Anonymous";*/
 /*font-weight: bold;*/
 width: 95%;
 font-size: 16px;
 background: #777777;
 margin-top: 25px;
 margin-left: 2.5%;
 margin-right: 2.5%;
 color: #ffffff;
}

a._queryInput_submit {
 margin-right: 2.5%;
 color: #ffffff;
 font-family: "sansation";
 float : right;
}
a._queryInput_submit:link {
 text-decoration: none;
 color: #ffffff;
}

a._queryInput_submit:visited {
 text-decoration: none;
 color: #ffffff;
}

a._queryInput_submit:hover {
 font-size: 14px;
}


div._searchContainer {
 font-family: "sansation";
 font-weight: bold;
 width: 95%;
 max-height: 1000px;
 font-size: 10px;
 background: #777777;
 margin-top: 25px;
 margin-left: 2.5%;
 margin-right: 2.5%;
 color: #ffffff;
 font-family: "sansation";
 display: none; 
 overflow-y: scroll;
}

TABLE._searchResults {
        width: 100%;
        table-layout : fixed;
}


TD.sortable {
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
}

TD.unsortable {
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
}

TR.SR {
        /*overflow-y: hidden;*/
        width : 100%;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
}


TD.SRD {
        text-align : left;
        float : left
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
}


/*
div._logoBox
{
 position : relative;
 float : left;
 width : auto;
 border : none;
 font-size : 175px;
}
*/
